.page4{
    
             height: 60vh;
             width: 100vw;
}
.heading4{
         
          height: 7em;
          width: 100vw;
}
.h-2{
       font-size: 3em;
       text-align: center;
       margin-top: 40px;
}
.review{
        
          height:20em;
          width:80em ;
          display: flex;
          gap: 15px;
          margin-left: 4em;
          
}
.review1{
    border: 1px solid black;
    border-radius: 2em;
          height:15em;
          width:25em;
}
.review2{
    border: 1px solid black;
    border-radius: 2em;
    height:15em;
    width:25em;
}
.review3{
             border: 1px solid black;
             border-radius: 2em;
    height:15em;
    width:25em;
}


.star-review{
               height: 2em;
               width: 10em;
               margin-top: 2em;
}

.names{
         font-size: 2em;
         margin-left: 10px;
}
.laast-para{
             margin-top: 15px;
             margin-left: 10px;
}




